/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* backgound */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  margin: 50px auto 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}


/* layout */
h1 {
  color: #fff;
  font-weight: 400;
  font-size: 2em;
}
p {
  margin: 10px auto;
  font-size: 1.4em;
  color: #fff;
  font-weight: lighter;
  width: 80%;
  font-style: italic;
  opacity: .8;
}

/* form */
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
	color: #f5f6f7;
	font-size: 16px;
}
h1, p {
  margin: 20px auto;
}
form {
  width: 80vw;
	max-width: 720px;
	min-width: 350px;
	margin: 40px auto;
  background: rgba(27, 27, 50, 0.8);
  border-radius: 0.25rem;
  padding: 40px;
}
.form__group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-size: 1.125rem;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
	width: 100%;
  font-size: 1.125rem;
  padding: .4rem;
  color: #495057;
}
input, textarea {
  background-color: #fff;
  border: 1px solid #0a0a23;
  border-radius: 5px;
  color: #0a0a23;
  padding: .4rem;
}
input[type="dropdown"] {
  margin: 10px 0 0 0;
	width: 100%;
  font-size: 1.125rem;
}
.form__group--radio,
.form__group--checkbox {
  margin-top: 10px;
}
button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: #37af65;
  color: inherit;
  border: 1px solid #37af65;
  border-radius: 5px;
  cursor: pointer;
}
input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}


/* classes */
.text-center {
  text-align: center;
}
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.form-control {
  display: block;
   width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}